<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My developer skills</h1>
    <a href="/skills">Welcome to My Dev Skills List</a>
  </body>
</html>
